server {
    listen 8080;
    root /usr/share/nginx/html;
    index index.html;

    location /healthz {
        access_log off;
        return 200 "ok\n";
        add_header Content-Type text/plain;
    }

    location /readyz {
        access_log off;
        return 200 "ok\n";
        add_header Content-Type text/plain;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }

    location /api/bff/staff {
        return 404;
    }

    location /api/bff/patient/ {
        proxy_pass ${BFF_BASE_URL}/api/bff/patient/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}